/* -------= imports =------- */
/* Fonts */
@font-face {
  font-family: "Roboto-Light";
  src: url("../static/fonts/Roboto-Light.eot");
  src: url("../static/fonts/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-Light.woff") format("woff"), url("../static/fonts/Roboto-Light.ttf") format("truetype"), url("../static/fonts/Roboto-Light.svg#Roboto-Light") format("svg");
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../static/fonts/Roboto-Bold.eot");
  src: url("../static/fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-Bold.woff") format("woff"), url("../static/fonts/Roboto-Bold.ttf") format("truetype"), url("../static/fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../static/fonts/Roboto-Regular.eot");
  src: url("../static/fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-Regular.woff") format("woff"), url("../static/fonts/Roboto-Regular.ttf") format("truetype"), url("../static/fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
}
@font-face {
  font-family: "Roboto-Black";
  src: url("../static/fonts/Roboto-Black.eot");
  src: url("../static/fonts/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-Black.woff") format("woff"), url("../static/fonts/Roboto-Black.ttf") format("truetype"), url("../static/fonts/Roboto-Black.svg#Roboto-Black") format("svg");
}
@font-face {
  font-family: "Roboto-Thin";
  src: url("../static/fonts/Roboto-Thin.eot");
  src: url("../static/fonts/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-Thin.woff") format("woff"), url("../static/fonts/Roboto-Thin.ttf") format("truetype"), url("../static/fonts/Roboto-Thin.svg#Roboto-Thin") format("svg");
}
@font-face {
  font-family: "Roboto-ThinItalic";
  src: url("../static/fonts/Roboto-ThinItalic.eot");
  src: url("../static/fonts/Roboto-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-ThinItalic.woff") format("woff"), url("../static/fonts/Roboto-ThinItalic.ttf") format("truetype"), url("../static/fonts/Roboto-ThinItalic.svg#Roboto-ThinItalic") format("svg");
}
@font-face {
  font-family: "Roboto-MediumItalic";
  src: url("../static/fonts/Roboto-MediumItalic.eot");
  src: url("../static/fonts/Roboto-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../static/fonts/Roboto-MediumItalic.woff") format("woff"), url("../static/fonts/Roboto-MediumItalic.ttf") format("truetype"), url("../static/fonts/Roboto-MediumItalic.svg#Roboto-MediumItalic") format("svg");
}
/* ------------------------------------------- */
.roboto-light {
  font-family: "Roboto-Light";
}
.roboto-bold {
  font-family: "Roboto-Bold";
}
.roboto-regular {
  font-family: "Roboto-Regular";
}
.roboto-black {
  font-family: "Roboto-Black";
}
.roboto-thin {
  font-family: "Roboto-Thin";
}
.roboto-thinitalic {
  font-family: "Roboto-ThinItalic";
}
.roboto-mediumitalic {
  font-family: "Roboto-MediumItalic";
}
/* ------------------------------------------- */
/* MIXINS */
/* by https://bitbucket.org/wowua/ */
.inlineblock {
  display: inline-block;
  vertical-align: top;
  zoom: 1 !ie;
  display: inline !ie;
}
.clearfix {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
ul {
  padding: 0;
  margin: 0;
}
ul li {
  padding: 0;
  left: 0;
  list-style: none outside none;
}
p {
  padding: 0;
  margin: 0;
}
/* -------= imports =------- */
/* -------= imports =------- */
/* -------= search =------- */
.container p,
.container label,
.container input,
.container select {
  font-family: "Roboto-Thin";
  font-weight: 600;
}
.search__block p {
  margin-top: 16px;
}
.paragraph__marg-bottom_38px {
  margin-bottom: 38px;
}
.paragraph__marg-bottom_94px {
  margin-bottom: 94px;
}
.form__radio-btns {
  *zoom: expression(this.runtimeStyle.zoom='1', this.appendChild(document.createElement('br')).style.cssText='clear:both;font:0/0 serif');
  zoom: 1 !ie;
}
.form__radio-btns:before,
.form__radio-btns:after {
  content: "";
  display: table;
}
.form__radio-btns:after {
  clear: both;
}
.form__radio-btns_noclear {
  clear: left;
}
.form__radio-btns_div label {
  cursor: pointer;
  font-family: "Roboto-Thin";
}
.snapme-form__radio-btns {
  display: none;
}
.snapme-form__radio-btns_div {
  cursor: pointer;
  background: url('../static/img/rdo-btn-sprite.png') no-repeat;
  width: 17px;
  height: 17px;
  float: left;
  margin-right: 9px;
  margin-top: 2px;
  margin-left: 5px;
}
.snapme-form__radio-btns_checked {
  background-position: 0 0;
}
.snapme-form__radio-btns_unchecked {
  background-position: 0 -18px;
}
.snapme-form__query_marg-top {
  margin-top: 20px;
}
.snapme-form__select {
  margin-top: 4px;
  border: rgba(255, 255, 255, 0.5) 2px solid;
  border-radius: 5px;
  display: block;
  height: 26px;
  width: calc(100%);
  overflow: hidden;
  background: url('../static/img/select-arrow.png') center right no-repeat;
}
.snapme-form__select select {
  width: calc(132%);
  background: transparent;
  background: rgba(0, 0, 0, 0);
  border: 0;
  z-index: 100;
}
.snapme-form__select-city {
  padding: 3px 10px;
  border: rgba(255, 255, 255, 0.5) 2px solid;
  border-radius: 5px;
  display: block;
  height: 26px;
  background-color: transparent;
}
.snapme-form__select-city option {
  color: #000000;
}
@media screen and (min-width: 769px) and (max-width: 993px) {
  .snapme-form__select-xs {
    padding-right: 15px;
  }
}
@media screen and (max-width: 768px) {
  .snapme-form__select-xs {
    padding-right: 15px;
  }
}
.snapme-form__submit-btn {
  color: #4A4A4A;
  background-color: white;
  border-radius: 6px;
  margin-top: 12px;
  font-size: 14px;
  padding: 1px 8px;
  border-style: solid;
}
.form__search {
  margin-top: 67px;
  margin-bottom: 46px;
}
/* -------= search =------- */
/* -------= imports =------- */
/* -------= imports =------- */
/* -------= divider-block =------- */
.divider-block {
  height: 4px;
  border-bottom: 2px solid #ffffff;
}
/* -------= divider-block =------- */
/* -------= imports =------- */
